.bookmark {
  position: relative;
  right: -40%;
  top: -70%;
}

.card {
  margin: 150px auto;
  width: 80%;
  border-radius: 16px;
  height: 300px;
  box-shadow: 4px 4px 10px black;
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.answer-button {
  padding: 7px 40px;
  font-size: 1em;
}

.categories {
  list-style: none;
  display: flex;
  gap: 1.5em;
  position: relative;
  bottom: 3%;
  left: -25%;
}

.categories__tag {
  border: solid 2px black;
  border-radius: 15%;
  padding: 0.5em;
  background-color: lightgrey;
}

.question {
  text-align: center;
  margin: 30px 0px;
}

.answer {
  text-align: center;
  font-style: italic;
  margin: 15px 0px;
}
