* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color: #dbdada;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #08a2a4, #05a835);
  background-repeat: no-repeat;
}

header {
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  box-shadow: 0 0 10px black;
}

.card {
  margin: 150px auto;
  width: 80%;
  border-radius: 16px;
  height: 300px;
  box-shadow: 4px 4px 10px black;
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: var(--color);
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 2px solid black;
  box-shadow: 0 -2px 10px black;
  position: fixed;
  bottom: 0;
}

footer i {
  margin: 16px;
  padding: 5px;
  width: 25%;
  min-width: 90px;
  text-align: center;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 2px 2px 8px black;
  cursor: pointer;
}

.fa-user:active {
  background-color: black;
}

.profile {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile__head {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2.5rem auto;
}

.profile__name__text {
  font-size: 2.5rem;
  width: 200px;
  color: greenyellow;
}

.profile__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
}

.profile__about {
  width: 80%;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}

.profile__aboutmetext {
  width: 75%;
  display: flex;
  color: white;
  font-weight: 200;
}

.profile__aboutmeheading {
  display: flex;
  width: 75%;
  margin-bottom: 10px;
  color: greenyellow;
  font-size: 2rem;
}

.profile__counters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 3rem auto;
  gap: 20px;
}

.counter__created {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: white;
}

.counter__created p {
  font-size: 1.5rem;
  color: greenyellow;
}

.counter__bookmarked {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 60px;
  border-radius: 20px;
  color: white;
}
.counter__bookmarked p {
  font-size: 1.5rem;
  color: greenyellow;
}

.profile__settings {
  height: 100px;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode h5 {
  font-size: 2rem;
  color: greenyellow;
  width: 200px;
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.wrapper {
  transform: scale(0.6);
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 100px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #faeaf1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #fffff9;
  width: 86px;
  height: 86px;
  left: 10px;
  bottom: 10px;
}

.crater-2 {
  width: 20px;
  height: 20px;
  top: -7px;
  left: 44px;
}

.crater-3 {
  width: 16px;
  height: 16px;
  top: 20px;
  right: -4px;
}

.crater-4 {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 30px;
}

.crater-5 {
  width: 15px;
  height: 15px;
  top: 40px;
  left: 48px;
}

.crater-6 {
  width: 10px;
  height: 10px;
  top: 48px;
  left: 20px;
}

.crater-7 {
  width: 12px;
  height: 12px;
  bottom: 5px;
  left: 35px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
  width: 6px;
  height: 6px;
  right: 90px;
  bottom: 40px;
}

.star-2 {
  width: 8px;
  height: 8px;
  right: 70px;
  top: 10px;
}

.star-3 {
  width: 5px;
  height: 5px;
  right: 60px;
  bottom: 15px;
}

.star-4 {
  width: 3px;
  height: 3px;
  right: 40px;
  bottom: 50px;
}

.star-5 {
  width: 4px;
  height: 4px;
  right: 10px;
  bottom: 35px;
}

.star-6,
.star-7,
.star-8 {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #fff;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 30px;
  bottom: 30px;
  animation-delay: -2s;
}

.star-7 {
  right: 50px;
  bottom: 60px;
}

.star-8 {
  right: 90px;
  top: 10px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #fff;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}

#hide-checkbox:checked + .toggle {
  background: #24d7f7;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: #f7ffff;
  transform: translateX(102px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}

#hide-checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  left: 20px;
  top: 25px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #fff;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #fff;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #fff;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-5 {
  width: 60px;
  height: 15px;
  border-radius: 15px;
  background: #fff;
  left: 30px;
  bottom: 20px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-6 {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  left: 38px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-7 {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  left: 52px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-8 {
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
  left: 70px;
  top: 59px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

.wrapper p {
  text-align: center;
  letter-spacing: 15px;
  background: #34495e;
  color: #fff;
}

p.morning {
  background: #e67e22;
}
